[submodule "twilight-emacs"]
  path = twilight-emacs
  url = git://github.com/crafterm/twilight-emacs.git
[submodule "cheat.el"]
  path = cheat.el
  url = git://github.com/defunkt/cheat.el.git
[submodule "gist.el"]
  path = gist.el
  url = git://github.com/defunkt/gist.el.git
[submodule "rinari"]
	path = rinari
	url = git://github.com/eschulte/rinari.git
[submodule "emacs-rails"]
	path = emacs-rails
	url = git://github.com/tomtt/emacs-rails.git
[submodule "fuzzy-find-in-project"]
	path = fuzzy-find-in-project
	url = git://github.com/avvo/fuzzy-find-in-project.git
[submodule "textmate.el"]
	path = textmate.el
	url = git://github.com/defunkt/textmate.el.git
[submodule "android-mode"]
	path = android-mode
	url = git://github.com/remvee/android-mode.git
